body {
    padding: 20px;
}

.frame {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
}

.redframe {
    border-color: red; 
    background-color: #FF5555;
}

.greenframe {
    border-color: green; 
    background-color: #55FF55;
}

.blueframe {
    border-color: blue; 
    background-color: #5555FF;
}


